<h1><%= @grade.assignment_name %></h1>
  <% if current_user && current_user.teacher? %>
    <p class="grade-update">
      Updated Grade:  <%= @grade.assignment_grade %>
    </p>
  <% end %>
  <% if current_user && current_user.teacher? %>
   <p class="grade-delete"><%= link_to "Delete", grade_path(@grade), method: "delete" %><p>
  <% end %>
